/* Page Reset Start */

* {
    box-sizing: border-box;
  }

body {
    font-size: 25px;
    font-family: 'Muli', sans-serif;
    margin: 0;
}

h2, h3, section {
    text-align: center;
}

/* Page Reset End */

/* Navigation Start */

nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #c3073f;
    color: white;
    font-size: 25px;
    padding: 10px;
    right: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
}

nav p {
    margin: 0;
    padding-bottom: 5px;
    font-size: 80%;
}

h1 {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

li {
    display: inline;
    border-right: 2px solid white;
    font-size: 90%;
    padding-right: 5px;
    color: white;
}

li:last-child {
    border: 0;
}

ul li a {
    color: white;
    text-decoration: none;
}

ul li a:hover {
    background-color: white;
    color: #c3073f;
}

/* Navigation End */

/* Main Start */

header {
    padding: 3%;
}

p {
    font-size: 20px;
}

section {    
    width: 100%;
    min-height: 200px;
    background-color: black;
    padding: 2%;
    color: white;
}

section:first-child {    
    margin-top: 100px;
}

img {
    border: 2px solid #4e4e50;
    width: auto;
    height: 200px;
}

#headshot {
    border-radius: 50%;
}

.white img:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}

h1, h2, h3, nav {
    font-family: 'Ovo', serif;
}

h2, section a {
    color: #c3073f;
}

h3 {
    color: white;
}

.white {
    background-color: white;
    color: black;
}

.white p {
    padding: 10px;
    text-align: left;
    line-height: 150%;
}

.black p {
    padding: 0 10px;
    margin: 0;
    line-height: 150%;
    text-align: left;
}

.emphasise {
    color: #c3073f;
    font-weight: bold;
}

.icon  {
    border: 0;
    height: 100px;
    width: auto;
    padding: 15px;
}

.links {
    padding-top: 90px;
}

/* Main End */

@media screen and (min-width: 400px){
    .projImg {
        height: 300px;
    } 
}

@media screen and (min-width: 800px){
    nav {
        justify-content: space-evenly;
        flex-direction: row;
    }
    
    nav ul{
        align-self: center;
    }
    
    header {
        padding: 0%;
    }

    section:first-child {    
        margin-top: 40px;
    }

    #about p, #projects p {
        padding: 0 15%;
    }

    .links {
        padding-top: 30px;
    } 

    .projImg {
        height: 400px;
    }
}