* {
    box-sizing: border-box;
  }

  body {
    font-size: 25px;
    text-align: center;
    font-family: 'Muli', sans-serif;
    margin: 0;
  }

nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #c3073f;
    color: white;
    font-size: 35px;
    padding: 15px;
    right: 0;
    z-index: 10;
}

header {
    padding: 5%;
}

section {    
    width: 100%;
    min-height: 200px;
    background-color: #1a1a1d;
    padding: 2%;
    color: white;
}

img {
    border: 2px solid #4e4e50;
    width: 200px;
    height: 200px;
}

hr {
    width: 50%;
    color: #4e4e50;
}

h1, h2, a {
    color: #c3073f;
}

h1, h2, h3, nav {
    font-family: 'Ovo', serif;
}

footer {
    background-color: #4e4e50;
    padding: 5px;
}

h3 {
    color: #950740;
}